<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.AdminMapper">


	<!-- 로그인 -->
	<select id="loginAdmin" resultType="com.itwillbs.Code_Green.vo.AdminVO">
		SELECT * FROM admin
		WHERE ADMIN_ID=#{admin_id} AND ADMIN_PASS=#{admin_pass}
	</select>


</mapper>
