<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.CartMapper">
<!-- <selectKey keyProperty="cart_idx" resultType="integer" order="BEFORE"> -->
<!-- 		SELECT MAX(cart_idx) FROM cart -->
<!-- </selectKey> -->

	<!-- 1. 장바구니 추가 -->
	<insert id="insertCart">
		<selectKey keyProperty="cart_idx" resultType="integer" order="BEFORE">
			SELECT MAX(cart_idx) FROM cart
		</selectKey>
				INSERT INTO cart
				VALUES(
				#{cart_idx} + 1,
				#{rf_item_idx},
				#{rf_member_idx},
				#{cart_amount},
				#{cart_total}
				)
	</insert>
	
	<!-- 2. 장바구니 목록 -->
	<select id="selectCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT 
			i.item_name,
			i.item_price,
			m.manager_brandname,
			c.cart_idx,
			c.cart_amount,
			c.cart_total,
			c.rf_member_idx
		FROM cart c
		LEFT JOIN item i ON c.rf_item_idx = i.item_idx
		JOIN manager m ON m.manager_idx = i.re_manager_idx
        JOIN member r ON r.member_idx = c.rf_member_idx
		WHERE r.member_id = #{member_id}
	
	</select>

	<!-- 3. 장바구니 삭제 -->
	<delete id="deleteCart">
		DELETE FROM cart WHERE cart_idx = #{cart_idx}
	</delete>
	
	<!-- 4. 장바구니 수정 -->
	<update id="modifyCart">
	
	</update>
	
	
	<!--  5. 장바구니 금액 합계 -->
	<select id="getPrice"  resultType="String">
		SELECT item_price
		FROM item
		where item_idx = #rf_item_idx#
	</select>
	
	
	<!--  6. 장바구니 상품확인 test1 -->
	<select id="checkCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT c.cart_idx
	    FROM cart c
        INNER JOIN item i
        ON(c.rf_item_idx = i.item_idx)
        INNER JOIN member m
        ON(c.rf_member_idx = m.member_idx)
        WHERE i.item_idx = #{rf_item_idx} and m.member_idx = #{rf_member_idx}
	</select>
	<!--  6. 장바구니 상품확인 test2 -->
	<select id="cou" resultType="int">
		SELECT COUNT(*) FROM cart 
		WHERE rf_item_idx = #{rf_item_idx} AND rf_member_idx= #{rf_member_idx}
	</select>
	
	<!-- 7. 장바구니에 기존의 상품이 존재하면 수정 -->
	<update id="updateCart">
		UPDATE cart SET cart_amount = #{cart_amount} where cart_idx = #{cart_idx} 
	<!-- UPDATE tbl_cart	SET amount = amount + #{amount}  -->
	<!-- WHERE user_id= #{userId} AND product_id = #{productId} -->
	</update>
	
	
</mapper>
