<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.CartMapper">
<!-- <selectKey keyProperty="cart_idx" resultType="integer" order="BEFORE"> -->
<!-- 		SELECT MAX(cart_idx) FROM cart -->
<!-- </selectKey> -->

	<!-- 장바구니 추가 -->
	<insert id="insertCart">
		INSERT INTO cart
			VALUES(
					#{rf_item_idx},
					#{rf_member_idx},
					#{cart_amount})
	</insert>


	<!-- 장바구니 삭제 -->
	<delete id="deleteCart">
		DELETE FROM cart WHERE cart_idx = #{cart_idx}
	</delete>


	<!-- 장바구니 수량 변경 -->
	<update id="updateCart">
		UPDATE cart SET cart_amount = #{cart_amount} where cart_idx = #{cart_idx} 
	</update>

	<!-- 장바구니 목록 -->	
	<select id="getCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		
	</select>
	
	
	<!-- 물건이 이미 카트에 있는지 확인 -->
	<select id="checkCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT c.cart_idx
	    FROM cart c
        INNER JOIN item i
        ON(c.rf_item_idx = i.item_idx)
        INNER JOIN member m
        ON(c.rf_member_idx = m.member_idx)
        WHERE c.rf_member_idx = #{member_idx} and i.item_idx = #{item_idx}
		
	</select>
	
	<select id="selectCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT 
			i.item_name,
			i.item_price,
			m.manager_brandname,
			c.cart_amount,
			c.cart_total,
			c.rf_member_idx
		FROM cart c
		LEFT JOIN item i ON c.rf_item_idx = i.item_idx
		JOIN manager m ON m.manager_idx = i.re_manager_idx
        JOIN member r ON r.member_idx = c.rf_member_idx
		WHERE r.member_id = #{member_id}
	</select>
	
	
	<select id="getPrice"  resultType="String">
		SELECT item_price
		FROM item
		where item_idx = #rf_item_idx#
	</select>
	
	
	
</mapper>
