<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.ReviewMapper">

	
<!-- 	리뷰 등록 -->
	<insert id="insertReview">
		<selectKey keyProperty="board_idx" resultType="integer" order="BEFORE">
			SELECT MAX(board_idx) FROM board
		</selectKey>
		INSERT 
			INTO board
			VALUES (
					#{board_idx}+ 1,   
					#{item_idx}, 
					"후기", 
					#{board_id}, 
					"N", 
					#{board_subject}, 
					#{board_content}, 
					"0", 
					"20221107")
<!-- 		INSERT  -->
<!-- 			INTO board -->
<!-- 			VALUES ( -->
<!-- 					"1031",   -->
<!-- 					"93", -->
<!-- 					"후기",  -->
<!-- 					"아이디",  -->
<!-- 					'N',  -->
<!-- 					"제목",  -->
<!-- 					"내용",  -->
<!-- 					"0",  -->
<!-- 					"20221106") -->
	</insert>
	
</mapper>
