<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.SellMapper">

	<!-- 장바구니 목록 불러오기 -->
	<select id="selectCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT 
			i.item_name,
			i.item_price,
			m.manager_brandname,
			c.cart_amount,
			c.cart_total,
			c.rf_member_idx,
			c.rf_item_idx,
			r.member_id,
            f.file1
		FROM cart c
		LEFT JOIN item i ON i.item_idx = c.rf_item_idx
		JOIN manager m ON m.manager_idx = i.re_manager_idx 
		JOIN member r ON r.member_idx = c.rf_member_idx
        JOIN file_item f ON f.file_item_idx = i.item_idx
		WHERE r.member_id = #{member_id};
	</select>

	<!-- 적립금 불러오기 -->
	<select id="selectCoin" resultType="com.itwillbs.Code_Green.vo.CoinVO">
		SELECT  c.coin_idx,
				c.rf_member_idx,
		        c.coin_add,
		        c.coin_use,
		        c.coin_charge,
		        c.coin_total,
		        c.coin_date
		FROM coin c
		JOIN member m ON c.rf_member_idx = m.member_idx
		WHERE m.member_id = #{member_id}
		ORDER BY c.coin_date DESC limit 1;
	</select>
	
	<!-- 리뷰 불러오기 -->
	<select id="getReviewList" resultType="com.itwillbs.Code_Green.vo.SellVO">
		 select  SELL_IDX  
				,RF_MEMBER_IDX  
				,RF_ITEM_IDX   
				,SELL_AMOUNT   
				,SELL_ITEM_TOTAL_PRICE  
				,SELL_USECOIN  
				,SELL_TOTAL_PAY_PRICE  
				,SELL_STATUS  
				,SELL_SHIPPING_FEE  
				,SELL_POSTCODE 
				,SELL_ADDRESS  
				,SELL_PHONE  
				,SELL_RECIEVER  
				,SELL_DATE  
				,SELL_PAY_TYPE  
				,SELL_PAY_STATUS  
				,SELL_PAY_DATE  
		from sell
	    where RF_MEMBER_IDX = (select member_idx
								from member
	                            where member_id = #{member_id})
	</select>
	
	<!-- 상품구매 목록 갯수 -->
	<select id="selectSellListCount" resultType="integer">
		 select count(*)
			from sell
		    where RF_MEMBER_IDX = (select member_idx
									from member
                            		where member_id = #{member_id})
	</select>
	
	<!-- 마이페이지 리뷰 가능상품 목록 -->
	<select id="getSellDetailList" resultType="com.itwillbs.Code_Green.vo.SellVO">
           select  	 s.SELL_DETAIL_IDX 
					,s.RF_SELL_IDX 
			        ,i.ITEM_NAME 
			        ,i.ITEM_PRICE
			        ,i.ITEM_IDX
			        ,i.ITEM_CATEGORY
			        ,f.FILE1
					,s.SELL_AMOUNT
			        ,m.MANAGER_BRANDNAME
			        ,l.sell_idx
			from sell_detail s 
				join item i 
					on s.RF_ITEM_IDX = i.item_idx
			    join file_item f 
					on s.RF_ITEM_IDX = f.RF_ITEM_IDX
				join manager m
					on m.MANAGER_IDX = i.RE_MANAGER_IDX
				join sell l
					on s.rf_sell_idx = l.sell_idx
			    where l.RF_MEMBER_IDX =(select member_idx
									from member
                            		where member_id = #{member_id})
                      and s.SELL_REVIEW_STATUS="N";
	</select>
	
	
	<!-- 마이페이지 상품후기작성 -->
	<select id="getSellReview" resultType="com.itwillbs.Code_Green.vo.SellVO">
		select       s.SELL_DETAIL_IDX 
					,s.RF_SELL_IDX 
			        ,i.ITEM_NAME 
			        ,i.ITEM_PRICE
			        ,i.ITEM_IDX
			        ,i.ITEM_CATEGORY
			        ,f.FILE1
					,s.SELL_AMOUNT
			        ,m.MANAGER_BRANDNAME
			        ,l.SELL_IDX  
			from sell_detail s 
				join item i 
					on s.RF_ITEM_IDX = i.item_idx
			    join file_item f 
					on s.RF_ITEM_IDX = f.RF_ITEM_IDX
				join manager m
					on m.MANAGER_IDX = i.RE_MANAGER_IDX
				join sell l
					on s.rf_sell_idx = l.sell_idx
			    where s.RF_SELL_IDX =  #{sell_idx}
                and i.item_idx = #{item_idx};
	</select>
	
	<!-- 주문하기 -->
	<!-- 아래코드 작동은 됨 -->
	<insert id="insertOrder">
		<selectKey keyProperty="cart_amount" resultType="string" order="BEFORE">
			SELECT 
					sum(cart_amount)
			  FROM
					cart			
			 WHERE
			 		rf_member_idx = #{member_idx}	
		</selectKey>
	
		INSERT INTO
					 sell
			VALUES(
			 		 IFNULL(
			 		 		(SELECT MAX(sell_idx) FROM sell s),0
			 		 		) + 1, 									  <!-- sell_idx -->
			 		 #{member_idx}, 								  <!-- rf_member_idx -->
			 		 #{cart_amount},								  <!-- rf_member_idx --> <!-- 장바구니에서 불러오기 -->
			 		 #{sell.sell_use_coin},							  <!-- sell_use_coin -->
			 		 #{sell_total_price},							  <!-- sell_total_price -->
			 		 '주문완료',										  <!-- sell_status --> <!-- 결제하고 나면 update 구문써서 바꿔주기 -->
			 		 #{sell.sell_postcode},							  <!-- sell_postcode -->
			 		 #{sell.sell_address},							  <!-- sell_address -->
			 		 #{sell.sell_phone},							  <!-- sell_phone -->
			 		 #{sell.sell_receiver},						      <!-- sell_receiver -->
			 		 now(),											  <!-- sell_date --> <!-- now()로 넣으면 2022-11-04 18:27:00 형식으로 들어감 / DATE_FORMAT(now(), '%h:%i:%s') 사용하던지--> 
			 		 #{sell.sell_pay_type},							  <!-- sell_pay_type --> <!-- 주문시 디폴트로 무통장입금 걸어놓고 카드 결제 버튼 클릭시 update 구문써서 '카드결제' 바꿔주기 -->
			 		 '결제대기중',										  <!-- sell_pay_status --> <!-- 카드 결제시 update 구문써서 바꿔주기 -->
			 		 '',											  <!-- sell_pay_date --> <!-- 카드 결제시 update 구문써서 바꿔주기 -->
			 		 ''											  	  <!-- sell_order_number --> <!-- '00000023-20221103' 형식으로 -->
			 	)			
	</insert>
	
	<!-- 주문내역 불러오기 위한 sell_idx 불러오기 -->
	<select id="selectSellIdx" resultType="integer">
		SELECT
		 		sell_idx 
		  FROM 
		  		sell
		 WHERE 
		 		rf_member_idx = #{member_idx}
	  ORDER BY 
	  			sell_idx DESC
		 LIMIT 
		  	    1
	</select>
	
	<!-- 주문내역 불러오기 -->
	<select id="selectOrderList" resultType="com.itwillbs.Code_Green.vo.SellVO">
		SELECT  * 
		  FROM
		  		sell
		 WHERE
				rf_member_idx = #{member_idx}
		   AND
		   		sell_idx = #{orderList_sellIdx}
	</select>
</mapper>
