<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.Code_Green.mapper.SellMapper">


	<select id="selectCart" resultType="com.itwillbs.Code_Green.vo.CartVO">
		SELECT 
			i.item_name,
			i.item_price,
			m.manager_brandname,
			c.cart_amount,
			c.cart_total,
			c.rf_member_idx,
			c.rf_item_idx,
			r.member_id,
            f.file1
		FROM cart c
		LEFT JOIN item i ON i.item_idx = c.rf_item_idx
		JOIN manager m ON m.manager_idx = i.re_manager_idx 
		JOIN member r ON r.member_idx = c.rf_member_idx
        JOIN file_item f ON f.file_item_idx = i.item_idx
		WHERE r.member_id = #{member_id};
	</select>


	<select id="selectCoin" resultType="com.itwillbs.Code_Green.vo.CoinVO">
		SELECT  c.coin_idx,
				c.rf_member_idx,
		        c.coin_add,
		        c.coin_use,
		        c.coin_charge,
		        c.coin_total,
		        c.coin_date
		FROM coin c
		JOIN member m ON c.rf_member_idx = m.member_idx
		WHERE m.member_id = #{member_id}
		ORDER BY c.coin_date DESC limit 1;
	</select>
	
<!-- <insert id="insertOrder"> -->
<!-- 		<selectKey keyProperty="member_id" order="BEFORE"> -->
<!-- 			SELECT  -->
<!-- 				   c.rf_item_idx, -->
<!-- 				   c.rf_member_idx, -->
<!-- 				   c.cart_amount, -->
<!-- 				   c.cart_total -->
<!-- 			  FROM cart c -->
<!-- 			  JOIN member m  -->
<!-- 			    ON m.member_idx = c.rf_member_idx -->
<!-- 			  JOIN sell s -->
<!-- 			    ON s.rf_member_idx = c.rf_member_idx -->
<!-- 			  JOIN item i  -->
<!-- 			    ON c.item_idx = i.item_idx   -->
<!-- 			 WHERE m.member_id = #{member_id} -->
<!-- 		</selectKey> -->
<!-- 			INSERT INTO sell  -->
<!-- 							VALUES( -->
<!-- 									<selectKey order="BEFORE"> -->
<!-- 									   <if test="max(s.sell_idx) == null"> -->
<!-- 									  	 s.sell_idx = 1, -->
<!-- 									   </if>	  -->
<!-- 									   <if test="max(s.sell_idx) != null"> -->
<!-- 									   	s.sell_idx = max(s.sell_idx) + 1, -->
<!-- 									   </if> -->
<!-- 								  </selectKey> -->
<!-- 								   s.rf_member_idx = c.rf_member_idx, -->
<!-- 								   s.rf_item_idx = c.rf_item_idx, -->
<!-- 								   s.sell_amount = c.cart_amount, -->
<!-- 								  	 <if test=""> -->
								  	 
<!-- 								  	 </if> -->
								   
<!-- 								   <if test="sell_use_coin"></if> -->
<!-- 							) -->
		
<!-- 	</insert>	 -->
		
<!-- 	상품구매 목록 -->
	<select id="getReviewList" resultType="com.itwillbs.Code_Green.vo.SellVO">
		 select  SELL_IDX  
				,RF_MEMBER_IDX  
				,RF_ITEM_IDX   
				,SELL_AMOUNT   
				,SELL_ITEM_TOTAL_PRICE  
				,SELL_USECOIN  
				,SELL_TOTAL_PAY_PRICE  
				,SELL_STATUS  
				,SELL_SHIPPING_FEE  
				,SELL_POSTCODE 
				,SELL_ADDRESS  
				,SELL_PHONE  
				,SELL_RECIEVER  
				,SELL_DATE  
				,SELL_PAY_TYPE  
				,SELL_PAY_STATUS  
				,SELL_PAY_DATE  
		from sell
	    where RF_MEMBER_IDX = (select member_idx
								from member
	                            where member_id = #{member_id})
	</select>
	
<!-- 	상품구매 목록 갯수 -->
	<select id="selectSellListCount" resultType="integer">
		 select count(*)
			from sell
		    where RF_MEMBER_IDX = (select member_idx
									from member
                            		where member_id = #{member_id})
	</select>
	
<!-- 	//마이페이지 리뷰 가능상품 목록 -->
	<select id="getSellDetailList" resultType="com.itwillbs.Code_Green.vo.SellVO">
           select  	 s.SELL_DETAIL_IDX 
					,s.RF_SELL_IDX 
			        ,i.ITEM_NAME 
			        ,i.ITEM_PRICE
			        ,i.ITEM_IDX
			        ,i.ITEM_CATEGORY
			        ,f.FILE1
					,s.SELL_AMOUNT
			        ,m.MANAGER_BRANDNAME
			        ,l.sell_idx
			from sell_detail s 
				join item i 
					on s.RF_ITEM_IDX = i.item_idx
			    join file_item f 
					on s.RF_ITEM_IDX = f.RF_ITEM_IDX
				join manager m
					on m.MANAGER_IDX = i.RE_MANAGER_IDX
				join sell l
					on s.rf_sell_idx = l.sell_idx
			    where l.RF_MEMBER_IDX =(select member_idx
									from member
                            		where member_id = #{member_id})
                      and s.SELL_REVIEW_STATUS="N";
	</select>
	
	
<!-- 	마이페이지 상품후기작성 -->
	<select id="getSellReview" resultType="com.itwillbs.Code_Green.vo.SellVO">
		select       s.SELL_DETAIL_IDX 
					,s.RF_SELL_IDX 
			        ,i.ITEM_NAME 
			        ,i.ITEM_PRICE
			        ,i.ITEM_IDX
			        ,i.ITEM_CATEGORY
			        ,f.FILE1
					,s.SELL_AMOUNT
			        ,m.MANAGER_BRANDNAME
			        ,l.SELL_IDX  
			from sell_detail s 
				join item i 
					on s.RF_ITEM_IDX = i.item_idx
			    join file_item f 
					on s.RF_ITEM_IDX = f.RF_ITEM_IDX
				join manager m
					on m.MANAGER_IDX = i.RE_MANAGER_IDX
				join sell l
					on s.rf_sell_idx = l.sell_idx
			    where s.RF_SELL_IDX =  #{sell_idx}
                and i.item_idx = #{item_idx};
	</select>
</mapper>
